# Version: 2021-12-12
# PlexDrive Mergerfs
# /etc/systemd/system/plexdrive.service
[Unit]
Description=Plexdrive Service
Requires=rclone.service
After=rclone.service

[Service]
Type=forking
ExecStart=/usr/bin/mergerfs /opt/plexdrive/plexdrive_upload:/opt/plexdrive/plexdrive_mount /mnt/plexdrive \
-o rw,use_ino,allow_other,func.getattr=newest,category.action=all,category.create=ff,cache.files=auto-full,dropcacheonclose=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target